<!DOCTYPE html> 
<html> 
<head> 
    <title>Home Page</title> 
    <style type="text/css" media="screen"> 
        body { 
            background-color: skyblue; 
            text-decoration-color: white; 
            font-size: 1em; 
        } 
    </style> 
</head> 
  
<body> 
    <div style="background-color: blueviolet;">
        Hobbies of <%=user[0].name%> are:<br /> 
        <%=user[1].name%>
    </div>      
</body> 
</html>